<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/register.css">
</head>
<body>
    <form action="POST" action="\login">
        <h1 id="title">LOGIN</h1>

        <?php if(isset($messages)): ?>
            <p class="messages">
            <?= $messages; ?>
            </p>
        <?php endif; ?>

        <label for="email">e-mail</label>
        <input id="email" 
               name="email" 
               type="email" 
               placeholder="example@org.com" 
               autocomplete="email"
               required inputmode="email">
        
        <label for="password">password</label>
        <input id="password" 
               name="password"
               type="password"
               placeholder="********">

        <label for="password">enter password again password</label>
        <input id="password" 
               name="password"
               type="password"
               placeholder="********">

        <button type="submit">Log in</button>
    </form>
</body>
</html>