--
-- PostgreSQL database dump
--

\restrict O8mG9qpakhKJ8hUwZaLrAZ0IvkrcUodsaN3GbQvzMp0Q30m028cJHFjsIzH9maG

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: fn_loan_fine_amount(bigint, numeric); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.fn_loan_fine_amount(p_loan_id bigint, p_daily_rate numeric) RETURNS numeric
    LANGUAGE plpgsql STABLE
    AS $$
DECLARE
	v_due_at TIMESTAMPTZ;
	v_end_at TIMESTAMPTZ;
	v_days_overdue INT;
BEGIN
	SELECT l.due_at, COALESCE(l.returned_at, now()) INTO v_due_at, v_end_at FROM loans l
	WHERE l.id = p_loan_id;
		
	IF NOT FOUND THEN
		RAISE EXCEPTION 'Loan % not found', p_loan_id;
	END IF;
		
	IF v_end_at <= v_due_at THEN
		RETURN 0;
	END IF;
		  
	v_days_overdue := (v_end_at::date - v_due_at::date);
		
	IF v_days_overdue < 0 THEN
		v_days_overdue := 0;
	END IF;
		
	RETURN ROUND(v_days_overdue * p_daily_rate, 2);
END;
$$;


--
-- Name: trg_log_copy_status_change(); Type: FUNCTION; Schema: public; Owner: -
--

CREATE FUNCTION public.trg_log_copy_status_change() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
  IF NEW.status IS DISTINCT FROM OLD.status THEN
    INSERT INTO copy_events (copy_id, event_type, details)
    VALUES (NEW.id, NEW.status, 'Status changed from ' || COALESCE(OLD.status, '<NULL>') || ' to ' || COALESCE(NEW.status, '<NULL>'));
  END IF;

  RETURN NEW;
END;
$$;


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: authors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.authors (
    id bigint NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT authors_name_check CHECK ((btrim(name) <> ''::text))
);


--
-- Name: authors_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.authors ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.authors_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: book_authors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.book_authors (
    book_id bigint NOT NULL,
    author_id bigint NOT NULL
);


--
-- Name: book_categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.book_categories (
    book_id bigint NOT NULL,
    category_id bigint NOT NULL
);


--
-- Name: books; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.books (
    id bigint NOT NULL,
    title text NOT NULL,
    description text,
    isbn13 text NOT NULL,
    publication_year smallint,
    cover_url text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT books_isbn13_check CHECK ((isbn13 ~ '^[0-9]{13}$'::text)),
    CONSTRAINT books_publication_year_check CHECK (((publication_year >= 1400) AND (publication_year <= 2100))),
    CONSTRAINT books_title_check CHECK ((btrim(title) <> ''::text))
);


--
-- Name: books_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.books ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.books_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: branches; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.branches (
    id bigint NOT NULL,
    library_id bigint NOT NULL,
    name text NOT NULL,
    country_code character(2) NOT NULL,
    city text NOT NULL,
    address_line1 text NOT NULL,
    address_line2 text,
    region text,
    postal_code text,
    timezone text DEFAULT 'UTC'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    currency_code character(3) DEFAULT 'USD'::bpchar NOT NULL,
    CONSTRAINT branches_country_code_check CHECK ((country_code ~ '^[A-Z]{2}$'::text)),
    CONSTRAINT branches_name_check CHECK ((TRIM(BOTH FROM name) <> ''::text)),
    CONSTRAINT chk_branches_currency_code CHECK ((currency_code ~ '^[A-Z]{3}$'::text))
);


--
-- Name: branches_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.branches ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.branches_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT categories_name_check CHECK ((btrim(name) <> ''::text))
);


--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.categories ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: copies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.copies (
    id bigint NOT NULL,
    book_id bigint NOT NULL,
    branch_id bigint NOT NULL,
    inventory_code text NOT NULL,
    status text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT copies_inventory_code_check CHECK ((btrim(inventory_code) <> ''::text)),
    CONSTRAINT copies_status_check CHECK ((status = ANY (ARRAY['AVAILABLE'::text, 'LOANED'::text, 'HELD'::text, 'LOST'::text, 'MAINTENANCE'::text])))
);


--
-- Name: copies_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.copies ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.copies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: copy_events; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.copy_events (
    id bigint NOT NULL,
    copy_id bigint NOT NULL,
    event_type text NOT NULL,
    details text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT copy_events_event_type_check CHECK ((btrim(event_type) <> ''::text))
);


--
-- Name: copy_events_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.copy_events ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.copy_events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: libraries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.libraries (
    id bigint NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT libraries_name_check CHECK ((TRIM(BOTH FROM name) <> ''::text))
);


--
-- Name: libraries_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.libraries ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.libraries_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: library_staff; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.library_staff (
    user_id bigint NOT NULL,
    library_id bigint NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: loans; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.loans (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    copy_id bigint NOT NULL,
    loaned_at timestamp with time zone DEFAULT now() NOT NULL,
    due_at timestamp with time zone NOT NULL,
    returned_at timestamp with time zone,
    renewals_count smallint DEFAULT 0 NOT NULL,
    CONSTRAINT chk_due_after_loaned CHECK ((due_at > loaned_at)),
    CONSTRAINT chk_renewals_count_0_1 CHECK (((renewals_count >= 0) AND (renewals_count <= 1)))
);


--
-- Name: loans_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.loans ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.loans_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reservations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reservations (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    book_id bigint NOT NULL,
    branch_id bigint NOT NULL,
    status text DEFAULT 'QUEUED'::text NOT NULL,
    ready_until timestamp with time zone,
    assigned_copy_id bigint,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT chk_ready_requires_copy_and_deadline CHECK ((((status = 'READY_FOR_PICKUP'::text) AND (assigned_copy_id IS NOT NULL) AND (ready_until IS NOT NULL)) OR (status <> 'READY_FOR_PICKUP'::text))),
    CONSTRAINT reservations_status_check CHECK ((status = ANY (ARRAY['QUEUED'::text, 'READY_FOR_PICKUP'::text, 'CANCELLED'::text, 'EXPIRED'::text, 'FULFILLED'::text])))
);


--
-- Name: reservations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.reservations ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.reservations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: roles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    code text NOT NULL,
    description text
);


--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.roles ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_profiles (
    user_id bigint NOT NULL,
    display_name text,
    phone_number text,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    email text NOT NULL,
    password_hash text NOT NULL,
    role_id bigint NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: v_book_availability_by_branch; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_book_availability_by_branch AS
 SELECT b.id AS book_id,
    b.title,
    br.id AS branch_id,
    ((br.city || ', '::text) || br.name) AS branch_label,
    count(*) FILTER (WHERE (c.status = 'AVAILABLE'::text)) AS available_count,
    count(*) FILTER (WHERE (c.status = 'HELD'::text)) AS held_count,
    count(*) FILTER (WHERE (c.status = 'LOANED'::text)) AS loaned_count,
    count(*) AS total_copies
   FROM ((public.books b
     JOIN public.copies c ON ((c.book_id = b.id)))
     JOIN public.branches br ON ((br.id = c.branch_id)))
  GROUP BY b.id, b.title, br.id, br.city, br.name;


--
-- Name: v_user_loans; Type: VIEW; Schema: public; Owner: -
--

CREATE VIEW public.v_user_loans AS
 SELECT l.id AS loan_id,
    l.user_id,
    l.copy_id,
    c.inventory_code AS copy_code,
    c.book_id,
    b.title,
    c.branch_id,
    ((br.city || ', '::text) || br.name) AS branch_label,
    l.loaned_at,
    l.due_at,
    l.returned_at,
    (l.returned_at IS NULL) AS is_active,
    ((l.returned_at IS NULL) AND (now() > l.due_at)) AS is_overdue,
        CASE
            WHEN ((l.returned_at IS NULL) AND (now() > l.due_at)) THEN GREATEST(0, ((now())::date - (l.due_at)::date))
            ELSE 0
        END AS days_overdue
   FROM (((public.loans l
     JOIN public.copies c ON ((c.id = l.copy_id)))
     JOIN public.books b ON ((b.id = c.book_id)))
     JOIN public.branches br ON ((br.id = c.branch_id)));


--
-- Name: authors authors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.authors
    ADD CONSTRAINT authors_pkey PRIMARY KEY (id);


--
-- Name: book_authors book_authors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.book_authors
    ADD CONSTRAINT book_authors_pkey PRIMARY KEY (book_id, author_id);


--
-- Name: book_categories book_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.book_categories
    ADD CONSTRAINT book_categories_pkey PRIMARY KEY (book_id, category_id);


--
-- Name: books books_isbn13_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT books_isbn13_key UNIQUE (isbn13);


--
-- Name: books books_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.books
    ADD CONSTRAINT books_pkey PRIMARY KEY (id);


--
-- Name: branches branches_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_pkey PRIMARY KEY (id);


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: copies copies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.copies
    ADD CONSTRAINT copies_pkey PRIMARY KEY (id);


--
-- Name: copy_events copy_events_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.copy_events
    ADD CONSTRAINT copy_events_pkey PRIMARY KEY (id);


--
-- Name: libraries libraries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.libraries
    ADD CONSTRAINT libraries_pkey PRIMARY KEY (id);


--
-- Name: library_staff library_staff_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.library_staff
    ADD CONSTRAINT library_staff_pkey PRIMARY KEY (user_id);


--
-- Name: loans loans_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT loans_pkey PRIMARY KEY (id);


--
-- Name: reservations reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_pkey PRIMARY KEY (id);


--
-- Name: roles roles_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_code_key UNIQUE (code);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: copies uniq_branch_id_inventory_code; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.copies
    ADD CONSTRAINT uniq_branch_id_inventory_code UNIQUE (branch_id, inventory_code);


--
-- Name: branches uniq_lib_name; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT uniq_lib_name UNIQUE (library_id, name);


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_library_staff_library; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_library_staff_library ON public.library_staff USING btree (library_id);


--
-- Name: idx_loans_user_active; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_loans_user_active ON public.loans USING btree (user_id, due_at) WHERE (returned_at IS NULL);


--
-- Name: uniq_email_lower; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uniq_email_lower ON public.users USING btree (lower(email));


--
-- Name: uniq_loans_active_copy; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uniq_loans_active_copy ON public.loans USING btree (copy_id) WHERE (returned_at IS NULL);


--
-- Name: uniq_res_active_one_per_user_book_branch; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uniq_res_active_one_per_user_book_branch ON public.reservations USING btree (user_id, book_id, branch_id) WHERE (status = ANY (ARRAY['QUEUED'::text, 'READY_FOR_PICKUP'::text]));


--
-- Name: copies tr_copies_log_status_change; Type: TRIGGER; Schema: public; Owner: -
--

CREATE TRIGGER tr_copies_log_status_change AFTER UPDATE OF status ON public.copies FOR EACH ROW EXECUTE FUNCTION public.trg_log_copy_status_change();


--
-- Name: book_authors book_authors_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.book_authors
    ADD CONSTRAINT book_authors_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.authors(id) ON DELETE RESTRICT;


--
-- Name: book_authors book_authors_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.book_authors
    ADD CONSTRAINT book_authors_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(id) ON DELETE CASCADE;


--
-- Name: book_categories book_categories_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.book_categories
    ADD CONSTRAINT book_categories_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(id) ON DELETE CASCADE;


--
-- Name: book_categories book_categories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.book_categories
    ADD CONSTRAINT book_categories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE RESTRICT;


--
-- Name: branches branches_library_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_library_id_fkey FOREIGN KEY (library_id) REFERENCES public.libraries(id) ON DELETE RESTRICT;


--
-- Name: copies copies_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.copies
    ADD CONSTRAINT copies_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(id) ON DELETE RESTRICT;


--
-- Name: copies copies_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.copies
    ADD CONSTRAINT copies_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE RESTRICT;


--
-- Name: copy_events copy_events_copy_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.copy_events
    ADD CONSTRAINT copy_events_copy_id_fkey FOREIGN KEY (copy_id) REFERENCES public.copies(id) ON DELETE CASCADE;


--
-- Name: loans fk_loans_copy; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT fk_loans_copy FOREIGN KEY (copy_id) REFERENCES public.copies(id) ON DELETE RESTRICT;


--
-- Name: loans fk_loans_user; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loans
    ADD CONSTRAINT fk_loans_user FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: library_staff library_staff_library_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.library_staff
    ADD CONSTRAINT library_staff_library_id_fkey FOREIGN KEY (library_id) REFERENCES public.libraries(id) ON DELETE RESTRICT;


--
-- Name: library_staff library_staff_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.library_staff
    ADD CONSTRAINT library_staff_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reservations reservations_assigned_copy_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_assigned_copy_id_fkey FOREIGN KEY (assigned_copy_id) REFERENCES public.copies(id) ON DELETE RESTRICT;


--
-- Name: reservations reservations_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.books(id) ON DELETE RESTRICT;


--
-- Name: reservations reservations_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON DELETE RESTRICT;


--
-- Name: reservations reservations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reservations
    ADD CONSTRAINT reservations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: user_profiles user_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: users users_role_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_fkey FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict O8mG9qpakhKJ8hUwZaLrAZ0IvkrcUodsaN3GbQvzMp0Q30m028cJHFjsIzH9maG

--
-- PostgreSQL database dump
--

\restrict 5ZyZISQ9eZMkGbmoTXpDreSdQoIgdU0ALisytqBxabwFebKImc8Cjdz6cPmsH2x

-- Dumped from database version 18.1 (Debian 18.1-1.pgdg13+2)
-- Dumped by pg_dump version 18.1 (Debian 18.1-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.roles (id, code, description) FROM stdin;
1	ADMIN	\N
2	LIBRARIAN	\N
3	READER	\N
\.


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.roles_id_seq', 3, true);


--
-- PostgreSQL database dump complete
--

\unrestrict 5ZyZISQ9eZMkGbmoTXpDreSdQoIgdU0ALisytqBxabwFebKImc8Cjdz6cPmsH2x

