:root {
    --primary: #1173d4;
    --primary-hover: #0e62b8;
    --bg-light: #f6f7f8;
    --bg-white: #ffffff;
    --text-main: #111418;
    --text-muted: #637588;
    --border: #dbe0e6;
    --danger: #dc3545;
    
    --font-main: 'Manrope', sans-serif;
    
    --radius: 0.5rem;
}